accelerate==1.13.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.4
aioice==0.10.2
aiortc==1.14.0
aiosignal==1.4.0
alembic==1.18.4
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
appdirs==1.4.4
apturl==0.5.2
async-timeout==5.0.1
asyncer==0.0.8
attrs==26.1.0
audioread==3.1.0
av==16.1.0
babel==2.18.0
backports.asyncio.runner==1.2.0
bcrypt==3.2.0
beautifulsoup4==4.14.3
beniget==0.4.1
blinker==1.4
Brlapi==0.8.3
Brotli==1.0.9
cachetools==7.0.5
certifi==2026.2.25
cffi==2.0.0
chardet==4.0.0
charset-normalizer==3.4.6
click==8.3.1
cloudpickle==3.1.2
colorama==0.4.4
coloredlogs==15.0.1
colorlog==6.10.1
cpuset==1.6
cryptography==46.0.6
csvw==3.7.0
cuda-bindings==13.2.0
cuda-pathfinder==1.5.0
cuda-toolkit==13.0.2
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.2.18
decorator==4.4.2
defer==1.0.6
diskcache==5.6.3
distro==1.7.0
distro-info==1.1+ubuntu0.2
dlinfo==2.0.0
dnspython==2.8.0
dspy==3.1.3
duplicity==0.8.21
EbookLib==0.20
espeakng-loader==0.2.4
exceptiongroup==1.3.1
fastapi==0.135.2
fasteners==0.14.1
fastuuid==0.14.0
filelock==3.25.2
flatbuffers==25.12.19
fonttools==4.29.1
frozenlist==1.8.0
fs==2.4.12
fsspec==2026.3.0
future==0.18.2
gast==0.5.2
gepa==0.0.26
google-crc32c==1.8.0
greenlet==3.3.2
h11==0.16.0
hf-xet==1.4.2
httpcore==1.0.9
httplib2==0.20.2
httptools==0.7.1
httpx==0.28.1
huggingface_hub==0.36.2
humanfriendly==10.0
humanize==4.15.0
hydra-colorlog==0.1.4
hydra-core==0.11.3
idna==3.3
ifaddr==0.2.0
importlib_metadata==9.0.0
iniconfig==2.3.0
isodate==0.7.2
jeepney==0.7.1
Jetson.GPIO==2.1.7
Jinja2==3.1.6
jiter==0.13.0
joblib==1.5.3
json_repair==0.58.7
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
julius==0.2.7
keyring==23.5.0
kiwisolver==1.3.2
kokoro-onnx==1.0.0
language-selector==0.1
language-tags==1.2.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy-loader==0.5
librosa==0.11.0
litellm==1.82.6
llvmlite==0.46.0
lockfile==0.12.2
loguru==0.7.3
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Mako==1.1.3
markdown-it-py==4.0.0
MarkupSafe==2.0.1
matplotlib==3.5.1
mdurl==0.1.2
monotonic==1.6
more-itertools==8.10.0
mpmath==1.3.0
msgpack==1.1.2
multidict==6.7.1
networkx==3.4.2
numba==0.64.0
numpy==2.2.6
nvidia-cublas==13.1.0.3
nvidia-cuda-cupti==13.0.85
nvidia-cuda-nvrtc==13.0.88
nvidia-cuda-runtime==13.0.96
nvidia-cudnn-cu13==9.19.0.56
nvidia-cufft==12.0.0.61
nvidia-cufile==1.15.1.6
nvidia-curand==10.4.0.35
nvidia-cusolver==12.0.4.66
nvidia-cusparse==12.6.3.3
nvidia-nccl-cu13==2.28.9
nvidia-nvjitlink==13.0.88
nvidia-nvshmem-cu13==3.4.5
nvidia-nvtx==13.0.85
oauthlib==3.2.0
olefile==0.46
ollama==0.6.1
omegaconf==1.4.1
onboard==1.4.1
onnxruntime==1.23.2
openai==2.30.0
openai-whisper @ git+https://github.com/openai/whisper.git@cba3768142a28276a90f14907e4900372c0c3ee0
optuna==4.8.0
orjson==3.11.7
packaging==26.0
PAM==0.4.2
pandas==1.3.5
paramiko==2.9.3
pexpect==4.8.0
phonemizer-fork==3.3.1
Pillow==9.0.1
platformdirs==4.9.4
pluggy==1.6.0
ply==3.11
pooch==1.9.0
propcache==0.4.1
protobuf==3.12.4
psutil==7.2.2
ptyprocess==0.7.0
pycairo==1.20.1
pycparser==3.0
pycups==2.0.1
pydantic==2.12.5
pydantic_core==2.41.5
pyee==13.0.1
Pygments==2.19.2
PyGObject==3.42.1
PyICU==2.8.1
PyJWT==2.3.0
pylibsrtp==1.0.0
pymacaroons==0.13.0
PyMuPDF==1.27.2.2
pymupdf-layout==1.27.2.2
pymupdf4llm==1.27.2.2
PyNaCl==1.4.0
PyOpenGL==3.1.5
pyOpenSSL==26.0.0
pyparsing==2.4.7
pyRFC3339==1.1
pystoi==0.4.1
pytest==9.0.2
pytest-asyncio==1.3.0
python-apt==2.4.0+ubuntu4.1
python-dateutil==2.8.1
python-dbusmock==0.27.5
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.2.2
pythran==0.10.0
pytz==2022.1
pyxdg==0.27
PyYAML==5.4.1
rdflib==7.6.0
referencing==0.37.0
regex==2026.3.32
requests==2.33.0
rfc3986==1.5.0
rich==14.3.3
rpds-py==0.30.0
safetensors==0.7.0
scikit-learn==1.7.2
scipy==1.8.0
SecretStorage==3.3.1
segments==2.4.0
sentence-transformers==5.3.0
sentencepiece==0.2.1
shellingham==1.5.4
silero-vad==6.2.1
six==1.16.0
smart_open==7.5.1
sniffio==1.3.1
sounddevice==0.5.5
soundfile==0.13.1
soupsieve==2.8.3
pyrnnoise==0.4.3
soxr==1.0.0
SQLAlchemy==2.0.48
starlette==1.0.0
sympy==1.13.1
systemd-python==234
tabulate==0.10.0
tenacity==9.1.4
tensorrt==10.3.0
tensorrt_dispatch==10.3.0
tensorrt_lean==10.3.0
termcolor==3.3.0
threadpoolctl==3.6.0
tiktoken==0.12.0
tokenizers==0.20.3
tomli==2.4.1
torch @ https://developer.download.nvidia.com/compute/redist/jp/v61/pytorch/torch-2.5.0a0+872d972e41.nv24.08.17622132-cp310-cp310-linux_aarch64.whl#sha256=6f75fd2d2ef840ede1a90dbcf40a5458214bee26cc803fa510cda2e8978d972a
torchaudio==2.11.0
tqdm==4.67.3
transformers==4.45.2
triton==3.6.0
typer==0.24.1
typing-inspection==0.4.2
typing_extensions==4.15.0
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufoLib2==0.13.1
unicodedata2==14.0.0
uritemplate==4.2.0
urllib3==1.26.5
urwid==2.1.2
uvicorn==0.42.0
uvloop==0.22.1
wadllib==1.3.6
watchfiles==1.1.1
websockets==16.0
wrapt==2.1.2
wsproto==1.3.2
xdg==5
xkit==0.0.0
xxhash==3.6.0
yarl==1.23.0
zipp==3.23.0
